<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/landpage.css">
    <title>Document</title>
</head>

<body>
    <h1>Product Available</h1>
    
    <div class="gallery" style="display: grid; grid-template-columns: repeat(5, 1fr); gap: 1rem;">
        {% for image in images %}
            <figure>
                <a href="{{ image.link }}">
                    <img src="{{ image.src }}" alt="{{ image.caption }}">
                    <figcaption>{{ image.caption }}</figcaption>
                </a>
            </figure>
        {% endfor %}
    </div>
    
</body>
</html>
