{% extends 'base.html' %}
{% block title %} item list {% endblock %}
 
{% block content %}
<body>
    <style>
        .grid-container{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(5, 1fr);
            width: 100%;
            height: auto;
            gap: 19px;
        }
        .grid-item img{
            width: 100%;
            height: 100%;
          

        }
    </style>
  <div class="grid-container" >
    
      {% for image in range(20) %}
     
          <div class="grid-item"  >
            <p><a href="">
                
               <img  src="{{ url_for('static', filename='images/j.jpg') }}" alt="">
               
           
              <form method="POST" action="/">
                  <!-- <input type="hidden" name="item" value="Guitar">  
                  <label for="quantity">Quantity:</label>  -->
                <!-- <input type="number" name="quantity" min="1" value="1">  
                  <button type="submit" name="add">Add to Cart</button>  -->
              </form>
               <h4>Clothe</h4></a>
            </p>
          </div>
       
          
      {% endfor %}
  </div>
  {% endblock %}

  